body{
	overflow-x:hidden;
	overflow-y:hidden;
	background-image: url(/guillermo-ferla-M_EgSITHrKA-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#medidorPlaneta{
	border:2px solid #000;
	width:300px;
	height:20px;
	background-color:#fff;
}
#barraPlaneta{
	width:300px;
	height:20px;
	background-color:#ff6600;
}
.navJog{
	width:40px;
	height:40px;
	background-image:URL("nave_jog.gif");
	position:absolute;
}
.bomba{
	width:24px;
	height:40px;
	background-image:URL("bomba.gif");
	position:absolute;
}
.tiroJog{
	width:6px;
	height:6px;
	background-color:#ff6600;
	box-shadow:0 0 5px #ff6600, 0 0 10px #ff6600, 0 0 20px #FF6600, 0 0 20px #ff6600;
	border-radius:10px;
	position:absolute;
}
.explosaoChao{
	width:55px;
	height:57px;
	position:absolute;
}
.explosaoAr{
	width:70px;
	height:70px;
	position:absolute;
}
.telaMsg{
	position:absolute; 
	margin-left:-20%;
	top:100px;
	left:50%;
	width:620px;
	height:450px;
	display: none;
	
}
.btnJogar{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	position: absolute;
	left: 380px;
	top: -30px;
	color: #fff;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 10px;
}
.btnJogar:hover{
	border:  5px solid #ff6600;
	color: #FF6600;
	font-weight: 900;
}